In [1]:
import pandas as pd

In [2]:
adzuna = pd.read_csv('~/Dropbox/NU/ADVANCED_MODELING/ADZUNA/datasets/Train_rev1.csv') #skiprows=1000,

In [3]:
cols = ['Id','SalaryNormalized','Title']  
adzunaTitleDf = adzuna[cols]
adzunaTitleDf.head(5)

,Id,SalaryNormalized,Title
0,12612628,25000,Engineering Systems Analyst
1,12612830,30000,Stress Engineer Glasgow
2,12612844,30000,Modelling and simulation analyst
3,12613049,27500,Engineering Systems Analyst / Mathematical Mod...
4,12613647,25000,"Pioneer, Miser Engineering Systems Analyst"

In [4]:
adzunaTitleDf.shape

(244768, 3)

In [ ]:
adzunaTitleDfDummies = pd.get_dummies(adzunaTitleDf).astype(np.int8)

In [ ]:
# I need a way to break out Title into binary columns, but it is too large. ANother possible way would be to calculate
# the number of times each title appears as a new column.

In [16]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                    'C': [1, 2, 3]})

In [17]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [18]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [19]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1