ADZUNA Kaggle Project

- Review the nltk NLP library in Python
- Tokenize sentences
- Remove stopwords + Others

NLP in Python: http://www.nltk.org/book/ch01.html

Stem words: http://www.nltk.org/book/ch03.html  (how to remove plural endings and stemming)

Most popular phrases: http://www.markhneedham.com/blog/2015/01/19/pythonnltk-finding-the-most-common-phrases-in-how-i-met-your-mother/

Useful Python Tools: https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

In [2]:
import pandas as pd                  # import necessary libraries
import nltk
from nltk.corpus import stopwords
from nltk import ngrams
from nltk import util
from nltk import ngrams

In [3]:
#Import each of the csv files you downloaded from the SSCC into a pandas df
adzuna = pd.read_csv('~/Dropbox/NU/ADVANCED_MODELING/ADZUNA/datasets/Train_rev1.csv')

In [5]:
adzuna.head(5)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
5,13179816,Engineering Systems Analyst Water Industry,Engineering Systems Analyst Water Industry Loc...,"Dorking, Surrey, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20K to 30K,25000,cv-library.co.uk
6,14131336,Senior Subsea Pipeline Integrity Engineer,A globally renowned engineering and training c...,"Aberdeen, Borders",UK,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,50000 - 100000/annum,75000,cv-library.co.uk
7,14663196,RECRUITMENT CONSULTANT INDUSTRIAL / COMMERCIA...,THIS IS A LIVE VACANCY NOT A GENERIC ADVERTISE...,"MANCHESTER, Greater Manchester",Manchester,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 26000/annum TO 26K BASIC + COMM + BENS,22000,cv-library.co.uk
8,14663197,RECRUITMENT CONSULTANT CONSTRUCTION / TECHNIC...,This is an exceptional opportunity to join a c...,"LEEDS, West Yorkshire",Leeds,NaN,permanent,Code Blue Recruitment,HR & Recruitment Jobs,18000 - 28000/annum 18 - 28K BASIC + COMM + BENS,23000,cv-library.co.uk
9,15395797,Subsea Cables Engineer,A subsea engineering company is looking for an...,"Aberdeen, UK",Aberdeen,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk
10,19047429,Trainee Mortgage Advisor East Midlands,"Are you a successful, results driven person? A...",East Midlands,East Midlands,NaN,permanent,Brite Recruitment,Accounting & Finance Jobs,17000 - 25000/annum 17k - 20k OTE 25k,21000,cv-library.co.uk
11,20199757,"PROJECT ENGINEER, PHARMACEUTICAL","PROJECT ENGINEER PHAMACEUTICAL, c**** Excelle...","Witney, Oxfordshire",Witney,NaN,permanent,MatchBox Recruiting Ltd,Healthcare & Nursing Jobs,35000 - 40000/annum c40000 + Excellent Benefits,37500,cv-library.co.uk
12,20638787,Principal Composite Stress Engineer,Aerospace Senior Composite Structures Engineer...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Other/General Jobs,40000 - 50000/annum 40K-50K,45000,cv-library.co.uk
13,20638788,Senior Fatigue Damage Tolerance Engineer,Senior Fatigue Static stress (metallic or comp...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Other/General Jobs,35000 - 45000/annum 35K-45K,40000,cv-library.co.uk
14,20797143,Chef de Partie Award Winning Restaurant Exce...,A well respected restaurant located in the Der...,Derby Derbyshire East Midlands,Derby,NaN,NaN,Chef Results,Hospitality & Catering Jobs,"Upto 16,000 per annum + Tips (IRO 3K Per Annum)",16000,caterer.com
15,22579462,Quality Engineer,Our client are a leading supplier of precision...,"Gateshead, Tyne and Wear",Gateshead,NaN,permanent,Asset Appointments,Engineering Jobs,22000/annum,22000,cv-library.co.uk
16,22581547,Principal Controls Engineer,A leading Subsea Engineering Company require a...,"Kent, South East",Kent,NaN,permanent,Indigo 21 Ltd,Engineering Jobs,70000 - 100000/annum,85000,cv-library.co.uk
17,22933091,Chef de Partie Award Winning Dining Live In ...,A popular hotel located in Norfolk which is a ...,Norfolk East Anglia,UK,NaN,NaN,Chef Results,Hospitality & Catering Jobs,"18,000 per annum + Tips (IRO 120 Per Month)",18000,caterer.com
18,23528672,Senior Fatigue and Damage Tolerance Engineer,Senior Fatigue Static stress (metallic or comp...,"Avon, South West",Avon,NaN,permanent,Gregory Martin International,Engineering Jobs,34000 - 45000/annum to 45K,39500,cv-library.co.uk
19,23529949,C I Design Engineer,We are currently recruiting on behalf of our c...,"Wolverhampton, West Midlands",Wolverhampton,NaN,permanent,Rullion Engineering Ltd,Engineering Jobs,33000 - 34000/annum + benefits,33500,cv-library.co.uk
20,23530231,Lead Engineers (Stress),Lead Engineers (Stress) Our client provide hig...,"Bristol, Avon, South West, Avon",UK,NaN,permanent,Gregory Martin International,Engineering Jobs,34000 - 45000/annum,39500,cv-library.co.uk
21,24104334,"Relief Chef de Partie Croydon, Surrey Live in",HOTEL AND CONFERENCE VENUE CHAIN RELIEF CHEF...,South Croydon Surrey South East,UK,NaN,NaN,Towngate Personnel,Hospitality & Catering Jobs,Upto 9 per hour,17280,caterer.com
22,24835524,Senior Control and Instrumentation Engineer,Senior Control and Instrumentation Engineer . ...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,36000 - 47000/annum 36K-47K,41500,cv-library.co.uk
23,24835548,Control and Instrumentation Engineer,Control and Instrumentation Engineer / C Readi...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,28000 - 35000/annum 28K-35K,31500,cv-library.co.uk
24,24854800,Electrical / ICA Engineer,Electrical / ICA Engineer Industry: Environmen...,"Surrey, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,"28000 - 37000/annum 28,000 to 37,000",32500,cv-library.co.uk
25,25337172,Pastry Chef for **** red star **** rosette hot...,Pastry Chef for **** red star **** rosette hot...,North East,North East England,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,24000 per annum,24000,caterer.com
26,25434785,Senior Process Engineer,Senior Process Engineer We are seeking applica...,"Berkshire, South East",Berkshire,NaN,permanent,Gregory Martin International,Engineering Jobs,36000 - 47000/annum 36-47K,41500,cv-library.co.uk
27,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire Yorkshire,North Yorkshire,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,16000 per annum + Live In,16000,caterer.com
28,25452680,"Senior Sous Chef for **** rosette kitchen, up ...","Senior Sous Chef for **** rosette kitchen, up ...",North East,North East England,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,26000 per annum,26000,caterer.com
29,25556432,"General Manager Funky, Cool Restaurant Concep...","Senior General Manager – Funky, Cool, Casual R...",West London London South East,East Sheen,NaN,NaN,Bee Recruitment London Ltd,Hospitality & Catering Jobs,"From 28,000 to 35,000 per annum",31500,caterer.com
30,25892031,MICE Sales and Marketing Manager,"Our client, a national hotel chain is seeking ...",Buckinghamshire South East,Buckinghamshire,NaN,NaN,Chess Partnership,Hospitality & Catering Jobs,"30,000 per annum plus bonus and package",30000,caterer.com
31,27527047,C/C++ Developer,A leading company that provides stock market a...,London,London,NaN,permanent,Indigo 21 Ltd,IT Jobs,25000 - 40000/annum,32500,cv-library.co.uk
32,27527050,Senior PHP Developer,A skilled Senior PHP Developer is required by ...,"Central London, London",Central London,NaN,permanent,Indigo 21 Ltd,IT Jobs,40000 - 50000/annum,45000,cv-library.co.uk
33,27527063,Senior Website Designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...","York, North Yorkshire",York,NaN,permanent,Indigo 21 Ltd,IT Jobs,20000 - 30000/annum,25000,cv-library.co.uk
34,27527077,Business Development Manager,"The Company: Our client are a full service, cr...","Tyne Wear, North East",Newcastle Upon Tyne,NaN,permanent,Asset Appointments,IT Jobs,18000 - 24000/annum plus commission OTE 50-60k,21000,cv-library.co.uk
35,27739522,Welwyn Chef de Partie does it get any better t...,Welwyn Chef de Partie does it get any better t...,Welwyn Garden City Hertfordshire South East,UK,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,18000 per annum,18000,caterer.com
36,27739539,Chef de Partie Sauce Award Winning Hertford ****,Chef de Partie Sauce Award Winning Hertford **...,Hertfordshire South East,UK,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,18000 per annum,18000,caterer.com
37,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,Pastry Chef De Partie AL**** **** ****AA Roset...,Stevenage Hertfordshire South East,UK,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,19000 per annum + Tips,19000,caterer.com
38,27754996,QA Engineer,An expanding software and consultancy services...,"Cambridge, Cambridgeshire",Cambridge,NaN,permanent,Indigo 21 Ltd,IT Jobs,20000 - 40000/annum,30000,cv-library.co.uk
39,28059808,Documentation Engineer,Our client is looking for a Documentation Engi...,Greater Manchester,Manchester,NaN,contract,Rullion Engineering Ltd,Engineering Jobs,25/hour,48000,cv-library.co.uk
40,28216382,Bilingual Customer Service Operator,Are you fluent in English and another European...,"Croydon, Surrey",UK,NaN,permanent,Brite Recruitment,Customer Services Jobs,17000 - 19000/annum + Bonus,18000,cv-library.co.uk
41,28539205,Customer Event Coordinator (German speaking),Are you fluent in English and German? Are you ...,"Croydon, Surrey",UK,NaN,permanent,Brite Recruitment,Customer Services Jobs,"17000 - 19500/annum 17,000 - 17,500 + 2k Bonus",18250,cv-library.co.uk
42,28821429,Senior Planner,"Senior Planning Engineer, Nuclear Experience R...","Irlam, Seascale, Cumbria",UK,NaN,contract,Rullion Engineering Ltd,Engineering Jobs,35 - 45/hour,76800,cv-library.co.uk
43,29107908,Bilingual Reservationist (Customer Service),Do you have experience in Customer Service? Do...,Gloucestershire,Gloucestershire,NaN,permanent,Brite Recruitment,Customer Services Jobs,14000 - 18000/annum,16000,cv-library.co.uk
44,29570321,Trampoline Coach Bushey Grove Leisure Centre,"We are looking for a motivated, hard working, ...","Bushey, Hertfordshire",Bushey,NaN,permanent,Hertsmere Leisure,Travel Jobs,*11.22 per hour (Level 2 Coach) *13.33 per hou...,21542,leisurejobs.com
45,29570883,Self Employed Swimming Instructors,Do you have a passion for Swimming? Can you mo...,"Kirklees, West Yorkshire",UK,NaN,permanent,Kirklees Active Leisure,Travel Jobs,12.91 to 13.94 per hour,25776,leisurejobs.com
46,29570885,Self Employed Sport Coaches,Do you have a passion for Sport? Can you motiv...,"Kirklees, West Yorkshire",UK,NaN,contract,Kirklees Active Leisure,Travel Jobs,8.84 to 12.91 per hour,20880,leisurejobs.com
47,29571472,"Bar/Waiting Staff The Cricketers, Sarratt","We are looking for outgoing, friendly people t...","Sarratt, Hertfordshire",Sarratt,NaN,permanent,Brunning & Price,Travel Jobs,6.08 per hour,11673,leisurejobs.com
48,29571506,"Deputy Manager Nevill Crest and Gun, Eridge G...",We are looking for an experienced Deputy Manag...,"Eridge Green, East Sussex",UK,NaN,permanent,Brunning & Price,Travel Jobs,"Salary package around 24,000",24000,leisurejobs.com
49,29571632,"Bar/Waiting Staff The Refectory, Godalming","We are looking for outgoing, friendly people t...","Milford, Surrey",Milford,NaN,permanent,Brunning & Price,Travel Jobs,6.08 per hour,11673,leisurejobs.com

Next we need to loop through each row in the adzuna data frame so that we add (initially) the most common word in a new column of the adzuna data frame. Let's first create a copy of the data frame and remove the unnecessary columns.

In [24]:
collist = ['Id', 'Title', 'FullDescription', 'LocationRaw','LocationNormalized','ContractType','ContractTime',
           'Company','Category','SalaryNormalized','SourceName']  # list columns to include in adzuna dataset.
adzuna = adzuna[collist]

In [25]:
df1_test = adzuna.head(5000)       # Subset of actual data set for testing purposes
#df1_test = adzuna                  # Copy of adzuna data set

In [26]:
def to_lower(des):
    return(des.lower())

In [27]:
df1_test['FullDescription']    = df1_test['FullDescription'].apply(to_lower) 
df1_test['fulldescription']    = df1_test['FullDescription'].apply(to_lower) 
df1_test['locationraw']        = df1_test['LocationRaw'].apply(to_lower) 
df1_test['locationnormalized'] = df1_test['LocationNormalized'].apply(to_lower)

/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
stops = set(stopwords.words("english"))                                     # create set of stop words
stops.update([',','****k','.','****','salary','/','(',')','&','?',';',':'])     # add additional words to stop words 'set'
stops.update(set(df1_test['locationraw']))
stops.update(set(df1_test['locationnormalized']))

In [29]:
def remove_stops(des):
    token = nltk.word_tokenize(des)                                 # split sentence into words                   
    filtered_words = [word for word in token if word not in stops]
    return(filtered_words)

In [30]:
# *****************                 THIS STEP CAN TAKE 10 MINUTES TO RUN                  *****************
df1_test['fulldescription'] = df1_test['fulldescription'].apply(remove_stops)

/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [31]:
def get_most_common_word(des):
    filtered_words_freq = nltk.FreqDist(des)                            # get frequency of each word in des text
    return(filtered_words_freq.most_common(1))

In [32]:
df1_test['unigram'] = df1_test['fulldescription'].apply(get_most_common_word)

/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [33]:
def extract_keyword(col):
    return(col[0][0])

In [34]:
df1_test['unigram']   = df1_test['unigram'].apply(extract_keyword)

/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [35]:
df1_test.head(2)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryNormalized,SourceName,fulldescription,locationraw,locationnormalized,unigram
0,12612628,Engineering Systems Analyst,engineering systems analyst dorking surrey sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,cv-library.co.uk,"[engineering, systems, analyst, client, locate...","dorking, surrey, surrey",dorking,systems
1,12612830,Stress Engineer Glasgow,stress engineer glasgow salary **** to **** we...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,"[stress, engineer, currently, looking, talente...","glasgow, scotland, scotland",glasgow,analysis

In [36]:
df1_test.shape

(5000, 15)

In [40]:
#import numpy as np
#import pandas as pd
#np.random.seed(0)
#df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
#               'office_id': list(range(1, 7)) * 2,
#               'sales': [np.random.randint(100000, 999999) for _ in range(12)]})

#state_office = df.groupby(['state', 'office_id']).agg({'sales': 'sum'})
#state = df.groupby(['state']).agg({'sales': 'sum'})
#state_office.div(state, level='state') * 100

In [43]:
df1_test[unigram].value_counts()

NameError: name 'unigram' is not defined

In [17]:
def bigrams(sentence_split):
    twograms = ngrams(sentence_split, 2)
    ngram_list = []
    for gram in twograms:
        ngram_list.append(gram)
        
    desFreq = nltk.FreqDist(ngram_list)
    desFreq = desFreq.most_common(1) 
   
    return(desFreq)

In [18]:
df1_test['bigram'] = df1_test['fulldescription'].apply(bigrams)

In [19]:
df1_test['bigram']   = df1_test['bigram'].apply(extract_keyword)

In [20]:
def trigrams(sentence_split):
    twograms = ngrams(sentence_split, 3)
    ngram_list = []
    for gram in twograms:
        ngram_list.append(gram)
        
    desFreq = nltk.FreqDist(ngram_list)
    desFreq = desFreq.most_common(1) 
   
    return(desFreq)

In [21]:
df1_test['trigram'] = df1_test['fulldescription'].apply(trigrams)

In [22]:
df1_test['trigram']   = df1_test['trigram'].apply(extract_keyword)

In [23]:
df1_test.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryNormalized,SourceName,fulldescription,locationraw,locationnormalized,unigram,bigram,trigram
0,12612628,Engineering Systems Analyst,engineering systems analyst dorking surrey sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,cv-library.co.uk,"[engineering, systems, analyst, client, locate...","dorking, surrey, surrey",dorking,systems,"(engineering, systems)","(engineering, systems, analyst)"
1,12612830,Stress Engineer Glasgow,stress engineer glasgow salary **** to **** we...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,"[stress, engineer, currently, looking, talente...","glasgow, scotland, scotland",glasgow,analysis,"(stress, engineer)","(dynamics, thermal, analysis)"
2,12612844,Modelling and simulation analyst,mathematical modeller / simulation analyst / o...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,"[mathematical, modeller, simulation, analyst, ...","hampshire, south east, south east",hampshire,simulation,"(successful, candidate)","(modeller, simulation, analyst)"
3,12613049,Engineering Systems Analyst / Mathematical Mod...,engineering systems analyst / mathematical mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,27500,cv-library.co.uk,"[engineering, systems, analyst, mathematical, ...","surrey, south east, south east",surrey,mathematical,"(engineering, systems)","(analyst, mathematical, modeller)"
4,12613647,"Pioneer, Miser Engineering Systems Analyst","pioneer, miser engineering systems analyst do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,cv-library.co.uk,"[pioneer, miser, engineering, systems, analyst...","surrey, south east, south east",surrey,systems,"(pioneer, miser)","(engineering, systems, analyst)"

In [24]:
collistFinal = ['Id', 'Title', 'locationnormalized','ContractType','ContractTime','Company','Category',
                'SalaryNormalized','SourceName','unigram','bigram','trigram']  
df1_test = df1_test[collistFinal]

In [33]:
# Finally, add a column if 'London' is found in the LocationNormalized
df1_test['InCapital'] = df1_test['locationnormalized'].str.contains('london|city')

/Users/stevenfutter/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [34]:
df1_test.to_csv('adzuna.csv')