ADZUNA Kaggle Project

- Review the nltk NLP library in Python
- Tokenize sentences
- Remove stopwords + Others

NLP in Python: http://www.nltk.org/book/ch01.html

Stem words: http://www.nltk.org/book/ch03.html  (how to remove plural endings and stemming)

Most popular phrases: http://www.markhneedham.com/blog/2015/01/19/pythonnltk-finding-the-most-common-phrases-in-how-i-met-your-mother/

Useful Python Tools: https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

In [105]:
import pandas as pd                  # import necessary libraries
import nltk
from nltk.corpus import stopwords
from nltk import ngrams
from nltk import util
from nltk import ngrams

In [106]:
#Import each of the csv files you downloaded from the SSCC into a pandas df
adzuna = pd.read_csv('~/Dropbox/NU/ADVANCED_MODELING/ADZUNA/datasets/Train_rev1.csv')

In [107]:
adzuna.head(2)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk

In [108]:
####### Code below will get phrases of length n from a paragraph and store them in a list
#n = 2
#sixgrams = ngrams(sentence.split(), n)
#ngrams = ngrams(filtered_words_lower, n)
#ngrams

#ngram_sentence = []
#for grams in ngrams:
# ngram_sentence.append(grams)

#ngram_sentence

In [109]:
######## Code below follows on from above
#desFreq = nltk.FreqDist(ngram_sentence)
#desFreq.most_common(3)                   # most common 2 letter words

Next we need to loop through each row in the adzuna data frame so that we add (initially) the most common word in a new column of the adzuna data frame. Let's first create a copy of the data frame.

In [110]:
#df1 = adzuna                       # Copy of actual data set
#df1_test = adzuna.head(5000)       # Subset of actual data set
df1_test = adzuna

In [111]:
def to_lower(des):
    return(des.lower())

In [112]:
df1_test['keyword'] = df1_test['FullDescription'].apply(to_lower)

In [113]:
stops = set(stopwords.words("english"))                         # create set of stop words
stops.update([',','****K','.'])                                 # add additional words to stop words 'set'

In [114]:
def remove_stops(des):
    token = nltk.word_tokenize(des)                     # split sentence into words                                                         
    filtered_words = [word for word in token if word not in stops]
    return(filtered_words)

In [ ]:
df1_test['keyword'] = df1_test['keyword'].apply(remove_stops)

In [ ]:
def get_most_common_word(des):
    #token = nltk.word_tokenize(des)                                    # split sentence into words
    #return(token)
    #filtered_words = [word for word in token if word not in stops]     # filter out ALL stop words
    filtered_words_freq = nltk.FreqDist(des)                            # get frequency of each word in des text
    return(filtered_words_freq.most_common(1))

In [ ]:
df1_test['keyword'] = df1_test['keyword'].apply(get_most_common_word)

In [ ]:
def extract_keyword(col):
    return(col[0][0])

In [ ]:
df1_test['keyword'] = df1_test['keyword'].apply(extract_keyword)

In [ ]:
df1_test.shape

In [ ]:
df1_test.head()